html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --primary-bg-color: #ffffff;
  --primary-text-color: #757575;
  --footer-adress-text-color: rgba(255, 255, 255, 0.6);
  --foorter-hero-bg-color: #2f303a;
  --section-comand-bg-color: #f5f4fa;
  --button-filter-non-active-color: #f5f4fa;
  --button-filter-active-color: #2196f3;
  --button-main-active-color: #188ce8;
  --border-color: #ececec;
  --card-set-gap: 30px;
  --card-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

body {
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
  letter-spacing: 0.02em;
}

a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
h1,
h2,
h3,
p {
  list-style: none;
  padding: 0;
  margin: 0;
}
header {
  border-bottom: 1px solid var(--border-color);
}
header .logo {
  color: var(--accent-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

header .studio-in-logo {
  color: #000000;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
  text-align: center;
  /* outline: 2px solid var(--accent-color); */
}

/* Site nav */

.site-nav {
  display: flex;
  align-items: center;
}
.site-nav-list {
  display: flex;
  margin-left: 93px;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.contacts-header-list {
  display: flex;
  margin-left: auto;
}
.contacts-header-list .item + .item {
  margin-left: 50px;
}

.contacts-header {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}
.contacts-header:hover,
.contacts-header:focus {
  color: var(--accent-color);
}

/* Hero */

.hero {
  background-color: var(--foorter-hero-bg-color);
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-left: auto;
  margin-right: auto;
  width: 696px;
  margin-bottom: 30px;
}

/* buttons */

.button-main {
  color: var(--white-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 216px;
  min-height: 50px;
  border: none;
}
.button-main:hover,
.button-main:focus {
  background-color: var(--button-main-active-color);
}
.buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.button-filter-content {
  border-radius: 4px;
}

.button-filter:not(:last-child) {
  display: block;
  margin-right: 8px;
}
.button-filter-content {
  color: var(--title-text-color);
  background-color: var(--button-filter-non-active-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;
  border: none;
  padding: 6px 22px;
}
.button-filter-content:first-child {
  padding: 6px 25px;
}
.button-filter-content:hover,
.button-filter-content:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

/* Sections */
.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.preferences {
  display: flex;
}

.preferences .item {
  width: 270px;
  text-align: left;
}
.preferences .item:not(:last-child) {
  margin-right: var(--card-set-gap);
}

.section-preferences-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.section-preferences-paragraph {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.what-we-do {
  padding-bottom: 94px;
}

.what-we-do-pics {
  display: flex;
  justify-content: center;
}

.what-we-do-pics .pic:not(:last-child) {
  margin-right: var(--card-set-gap);
}

.what-we-do-title,
.section-comand-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.what-we-do {
  padding-top: 0;
}
.comand {
  background-color: var(--section-comand-bg-color);
}
/* наша команда */
.persons-list {
  display: flex;
  justify-content: center;
}

.person-list-item:not(:last-child) {
  margin-right: var(--card-set-gap);
}

.person-name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.person-position {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
.card {
  box-shadow: var(--card-shadow);
  background-color: var(--primary-bg-color);
  border-radius: 4px;
}

.card-content {
  padding: 30px;
}
.card-content-potfolio {
  padding: 20px 24px;
  text-align: left;
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}
/* portfolio */

.portfolio {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--card-set-gap));
  margin-left: calc(-1 * var(--card-set-gap));
}

.portfolio .item {
  /* width: 370px; 
  width: calc((100% - 60px) / 3); 
  margin-right: 30px;
  margin-bottom: 30px; */
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-top: var(--card-set-gap);
  margin-left: var(--card-set-gap);
}

/* .portfolio .item:nth-child(3n) {
  margin-right: 0;
}

.portfolio .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
} */

.portfolio .item .title-portfolio {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.paragraph-portfolio {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
/* Footer */

footer {
  background-color: var(--foorter-hero-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
footer > .container {
  text-align: left;
}

footer .logo {
  color: var(--accent-color);
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  display: inline-block;
  margin-bottom: 20px;
}

footer .studio-in-logo {
  color: var(--white-color);
}

.address-link {
  color: var(--white-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  display: inline-block;
  margin-bottom: 9px;
}
.address-mail {
  display: inline-block;
  margin-bottom: 9px;
}

.address-mail,
.address-tel {
  font-style: normal;
  color: var(--footer-adress-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address-link:hover,
.address-link:focus,
.address-mail:hover,
.address-mail:focus,
.address-tel:hover,
.address-tel:focus {
  color: var(--accent-color);
}
